@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@keyframes strafe {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

body {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  box-sizing: border-box;
}

.nav .demoButton {
  display: none;
  position: relative;
  width: 120px;
  height: 40px;
  border: none;
  background: #fff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

.nav .demoButton .demoButton__arrow {
  position: absolute;
  top: 20px;
  left: 161px;
}

.nav .demoButton .demoButton__arrow .__polygon1 {
  position: absolute;
  width: 20px;
  height: 1px;
  top: 7px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  border-radius: 2px;
  box-sizing: border-box;
}

.nav .demoButton .demoButton__arrow .__polygon2 {
  position: absolute;
  width: 14px;
  height: 1px;
  top: 3px;
  left: 8px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  box-sizing: border-box;
  border-radius: 2px;
  transform: rotate(45deg);
}

.nav .demoButton .demoButton__arrow .__polygon3 {
  position: absolute;
  width: 14px;
  height: 1px;
  top: 11px;
  left: 8px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  box-sizing: border-box;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.nav .demoButton:hover, .nav .demoButton:focus {
  outline-color: #9c69e2;
}

.nav .demoButton:hover .demoButton__arrow, .nav .demoButton:focus .demoButton__arrow {
  animation: strafe 0.8s infinite;
}

.nav .demoButton:active {
  transform: scale(0.95);
}

.bannerButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
  margin-left: 18.75px;
  margin-right: 18.75px;
}

.bannerButtons .bannerButton__learnMore {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #9c69e2;
  font-size: 0.9em;
  color: white;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  cursor: pointer;
}

.bannerButtons .demoButton {
  width: 120px;
  height: 40px;
  border: none;
  background: #f063b8;
  color: white;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

nav {
  position: relative;
  margin-top: 1.25em;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.logo .logo_rectangle1 {
  height: 20px;
  width: 20px;
  background-color: #9c69e2;
  border-radius: 50%;
}

.logo .logo_rectangle2 {
  width: 20px;
  height: 35px;
  background-color: #f063b8;
  border-radius: 20px;
}

.menu {
  display: flex;
  padding-left: 10px;
  gap: 1.25em;
}

.menu .menu__item {
  list-style-type: none;
  padding-left: 10px;
}

.menu .menu__item .menu__item_link {
  color: #212353;
  text-decoration: none;
}

.topBanner {
  margin-top: 3em;
}

.topBanner__header {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  color: #212353;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 18.75px;
}

.topBanner__img {
  width: 90%;
  text-align: center;
}

.topBanner__img .topBanner__img_img {
  width: 90%;
  height: 40%;
}

.topBanner__copy_text {
  width: 90%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #4b5d68;
  line-height: 160%;
}

.about {
  width: 85%;
  margin: 0 auto;
  margin-top: 8em;
  padding: 1em;
  background: rgba(240, 99, 184, 0.15);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.about .about__header {
  width: 95%;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: #212353;
  text-align: center;
}

.about .about__img_img {
  display: none;
}

.about .about__text {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #4b5d68;
  line-height: 160%;
}

.features {
  width: 90%;
  margin: 0 auto;
  margin-top: 8em;
}

.features .features__title {
  text-align: center;
}

.features .features__title .features__title_header {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: #212353;
}

.features .features__title .features__title_text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #4b5d68;
  line-height: 160%;
}

.features__search {
  position: relative;
  height: 100%;
  padding: 1em;
  margin: 2em 0;
  background: rgba(104, 201, 186, 0.1);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.features__search .features__search_header {
  position: relative;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #212353;
}

.features__search .features__search_text {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #4b5d68;
  line-height: 160%;
  font-weight: 200;
}

.features__search .features__search_link {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "Lato", sans-serif;
  color: #212353;
  text-decoration: none;
}

.features__search .features__search_link:visited {
  color: #212353;
}

.features__search .features__search_link img {
  padding: 1.5px;
  margin-left: 20px;
}

.features__access {
  position: relative;
  height: 100%;
  padding: 1em;
  margin: 2em 0;
  background: rgba(156, 105, 226, 0.1);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.features__access .features__access_header {
  position: relative;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #212353;
}

.features__access .features__access_text {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #4b5d68;
  line-height: 160%;
  font-weight: 200;
}

.features__access .features__access_link {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "Lato", sans-serif;
  color: #212353;
  text-decoration: none;
}

.features__access .features__access_link:visited {
  color: #212353;
}

.features__access .features__access_link img {
  padding: 1.5px;
  margin-left: 20px;
}

.features__print {
  position: relative;
  height: 100%;
  padding: 1em;
  margin: 2em 0;
  background: rgba(240, 99, 184, 0.1);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.features__print .features__print_header {
  position: relative;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #212353;
}

.features__print .features__print_text {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #4b5d68;
  line-height: 160%;
  font-weight: 200;
}

.features__print .features__print_link {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "Lato", sans-serif;
  color: #212353;
  text-decoration: none;
}

.features__print .features__print_link:visited {
  color: #212353;
}

.features__print .features__print_link img {
  padding: 1.5px;
  margin-left: 20px;
}

.features__security {
  position: relative;
  height: 100%;
  padding: 1em;
  margin: 2em 0;
  background: rgba(45, 156, 219, 0.1);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.features__security .features__security_header {
  position: relative;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #212353;
}

.features__security .features__security_text {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #4b5d68;
  line-height: 160%;
  font-weight: 200;
}

.features__security .features__security_link {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "Lato", sans-serif;
  color: #212353;
  text-decoration: none;
}

.features__security .features__security_link:visited {
  color: #212353;
}

.features__security .features__security_link img {
  padding: 1.5px;
  margin-left: 20px;
}
/*# sourceMappingURL=styles.css.map */