@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@keyframes strafe {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 1600px;
  height: 4350px;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.topBanner__header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  display: flex;
  align-items: center;
}

.bannerCopy__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 160%;
}

.bannerButton__learnMore {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 160%;
}

.info {
  font-family: "Lato", sans-serif;
}

.info .info__header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.info .info__text {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 160%;
  color: #4b5d68;
}

.demoButton {
  position: relative;
  height: 60px;
  width: 210px;
  margin-left: 418px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

.demoButton .demoButton__arrow {
  position: absolute;
  top: 20px;
  left: 161px;
}

.demoButton .demoButton__arrow .__polygon1 {
  position: absolute;
  width: 20px;
  height: 1px;
  top: 7px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  border-radius: 2px;
  box-sizing: border-box;
}

.demoButton .demoButton__arrow .__polygon2 {
  position: absolute;
  width: 14px;
  height: 1px;
  top: 3px;
  left: 8px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  box-sizing: border-box;
  border-radius: 2px;
  transform: rotate(45deg);
}

.demoButton .demoButton__arrow .__polygon3 {
  position: absolute;
  width: 14px;
  height: 1px;
  top: 11px;
  left: 8px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  box-sizing: border-box;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.demoButton:hover, .demoButton:focus {
  outline-color: #9c69e2;
}

.demoButton:hover .demoButton__arrow, .demoButton:focus .demoButton__arrow {
  animation: strafe 0.8s infinite;
}

.demoButton:active {
  transform: scale(0.95);
}

.bannerButton__learnMore {
  position: absolute;
  width: 170px;
  height: 60px;
  left: 240px;
  top: 641px;
  border: none;
  background: #9c69e2;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

nav {
  position: absolute;
  top: 47px;
  left: 15%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.logo .logo_rectangle1 {
  height: 20px;
  width: 20px;
  background-color: #9c69e2;
  border-radius: 50%;
}

.logo .logo_rectangle2 {
  width: 20px;
  height: 35px;
  background-color: #f063b8;
  border-radius: 20px;
}

.menu {
  display: flex;
  padding-left: 121px;
}

.menu .menu__item {
  list-style-type: none;
  padding-left: 40px;
}

.menu .menu__item .menu__item_link {
  color: #212353;
  text-decoration: none;
}

.topBanner__header {
  position: absolute;
  width: 645px;
  height: 184px;
  margin-top: 0;
  left: 240px;
  top: 237px;
}

.bannerImage__img {
  position: absolute;
  width: 885px;
  height: 468px;
  left: 603px;
  top: 333px;
  background: url(/images/image1.svg);
}

.bannerCopy__text {
  position: absolute;
  width: 380px;
  height: 120px;
  margin-top: 0;
  left: 240px;
  top: 471px;
}

.info {
  position: relative;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.info .info__img {
  position: absolute;
  width: 477px;
  height: 504px;
  left: 11px;
  top: 31.82px;
  background: url(/images/image2.svg);
}

.info .info__header {
  position: absolute;
  margin-top: 0;
  margin-bottom: 40px;
  width: 475px;
  height: 100px;
  left: 550px;
  top: 125px;
}

.info .info__text {
  position: absolute;
  margin-top: 0;
  width: 474px;
  height: 170px;
  left: 550px;
  top: 265px;
}
/*# sourceMappingURL=styles.css.map */