//
// Logo
//

@mixin logo_rectangle1 {
  height: 20px;
  width: 20px;
  background-color: #9c69e2;
  border-radius: 50%;
}

@mixin logo_rectangle2 {
  width: 20px;
  height: 35px;
  background-color: #f063b8;
  border-radius: 20px;
}

@mixin logoGroup {
  display: flex;
  align-items: baseline;
  gap: 0.5em;

  .logo_rectangle1 {
    height: 20px;
    width: 20px;
    background-color: #9c69e2;
    border-radius: 50%;
  }

  .logo_rectangle2 {
    @include logo_rectangle2();
  }
}

//
// Buttons
//

@mixin mobileButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
  margin-left: 18.75px;
  margin-right: 18.75px;

  .learnMoreButton {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: $purple;
    font-size: 0.9em;
    color: white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    cursor: pointer;
  }
  .demoButton {
    width: 120px;
    height: 40px;
    border: none;
    background: $pink;
    color: white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    cursor: pointer;
  }
}

//
// Arrow
//

@mixin polygon1 {
  position: absolute;
  width: 20px;
  height: 1px;
  top: 7px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  border-radius: 2px;
  box-sizing: border-box;
}

@mixin polygon2 {
  position: absolute;
  width: 14px;
  height: 1px;
  top: 3px;
  left: 8px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  box-sizing: border-box;
  border-radius: 2px;
  transform: rotate(45deg);
}

@mixin polygon3 {
  position: absolute;
  width: 14px;
  height: 1px;
  top: 11px;
  left: 8px;
  border: 2px solid #9c69e2;
  background-color: #9c69e2;
  box-sizing: border-box;
  border-radius: 2px;
  transform: rotate(-45deg);
}

@mixin arrowGroup {
  .__polygon1 {
    @include polygon1();
  }
  .__polygon2 {
    @include polygon2();
  }
  .__polygon3 {
    @include polygon3();
  }
}

//
// Headers
//

@mixin sectionHeader {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: $dark-blue;
}

@mixin sectionSubheader {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: $dark-blue;
}

//
// Copy
//

@mixin sectionCopy {
  font-family: $Lato;
  font-size: 16px;
  color: $dark-green;
  line-height: 160%;
}

@mixin featureCopy {
  font-family: $Lato;
  font-size: 15px;
  color: $dark-green;
  line-height: 160%;
}

@mixin footerCopy {
  font-family: $Lato;
  font-size: 16px;
  color: $dark-blue;
  line-height: 160%;
}

//
// Features
//

@mixin featuresBase($bgColor) {
  position: relative;
  height: 100%;
  padding: 1em;
  margin: 2em 0;
  background: $bgColor;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

@mixin featuresContent($title) {
  .features__#{$title}_header {
    position: relative;
    text-align: center;
    @include sectionSubheader;
  }

  .features__#{$title}_text {
    @include featureCopy;
    font-weight: 200;
  }

  .features__#{$title}_link {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: $Lato;
    color: $dark-blue;
    text-decoration: none;

    &:visited {
      color: $dark-blue;
    }

    img {
      padding: 1.5px;
      margin-left: 20px;
    }
  }
}
