// Font

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$Lato: "Lato", sans-serif;

// Colors

$dark-green: #4b5d68;
$dark-blue: #212353;
$purple: #9c69e2;
$pink: #f063b8;
$teal: #68c9ba;
