//
// Banner
//

.topBanner__header {
  position: absolute;
  width: 645px;
  height: 184px;
  margin-top: 0;
  left: 240px;
  top: 237px;
}

//
// Banner Image
//

.bannerImage__img {
  position: absolute;
  width: 885px;
  height: 468px;
  left: 603px;
  top: 333px;

  background: url(/images/image1.svg);
}

//
// Banner Copy
//

.bannerCopy__text {
  position: absolute;
  width: 380px;
  height: 120px;
  margin-top: 0;
  left: 240px;
  top: 471px;
}
