// Nav Demo Button

.demoButton {
  height: 60px;
  width: 210px;
  margin-left: 418px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

//
// Learn More Button
//

.bannerButton__learnMore {
  position: absolute;
  width: 170px;
  height: 60px;
  left: 240px;
  top: 641px;
  border: none;
  background: #9c69e2;
  border-radius: 50px;
  color: white;
}
