// Nav Demo Button

.nav {
  .demoButton {
    display: none;
  }
}

//
// Top Banner Buttons
//

.bannerButtons {
  @include mobileButtons;
}

//
// Testimonial Arrows
//

.testimonials__arrowNext,
.testimonials__arrowPrev {
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 30px;
  }
}

.testimonials__arrowPrev {
  transform: rotate(180deg) translateY(2px);
}
