//
// Banner
//

.topBanner {
  margin-top: 3em;
}

//
// Banner Header
//

.topBanner__header {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  color: $dark-blue;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 18.75px;
}

//
// Banner Image
//

.topBanner__img {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  .topBanner__img_img {
    width: 90%;
    height: 40%;
  }
}

//
// Banner Copy
//

.topBanner__copy_text {
  width: 90%;
  margin: 0 auto;
  @include sectionCopy;
}
