// Navigation

nav {
  position: relative;
  margin-top: 1.25em;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

// Logo

.logo {
  margin-right: 1em;
}

// Menu

.menu {
  display: flex;
  padding-left: 10px;
  gap: 1.25em;

  .menu__item {
    list-style-type: none;

    .menu__item_link {
      color: #212353;
      text-decoration: none;
    }
  }
}
