//
// Info Section
//

.about {
  width: 85%;
  margin: 0 auto;
  margin-top: 4em;
  padding: 1em;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;

  .about__header {
    width: 95%;
    margin: 0;
    @include sectionHeader;
    text-align: center;
  }

  .about__img_img {
    display: none;
  }

  .about__text {
    width: 100%;
    @include sectionCopy;
  }
}

//
// Features Section
//

.features {
  width: 90%;
  margin: 0 auto;
  // text-align: center;

  .features__title {
    text-align: center;

    .features__title_header {
      @include sectionHeader;
    }

    .features__title_text {
      @include sectionCopy;
    }
  }
}

.features__search {
  position: relative;
  height: 100%;
  padding: 1em;
  padding-bottom: 0;
  background: rgba(104, 201, 186, 0.1);
  border-radius: 50px;

  .features__search_header {
    position: relative;
    text-align: center;
    @include sectionSubheader;
  }

  .features__search_text {
    @include featureCopy;
    font-weight: 200;
  }
}
