//
// Info Section
//

.about {
  width: 85%;
  margin: 0 auto;
  margin-top: 8em;
  padding: 1em;
  background: rgba(240, 99, 184, 0.15);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;

  .about__header {
    width: 95%;
    margin: 0;
    @include sectionHeader;
    text-align: center;
  }

  .about__img_img {
    display: none;
  }

  .about__text {
    width: 100%;
    @include sectionCopy;
  }
}

//
// Features Section
//

.features {
  width: 90%;
  margin: 0 auto;
  margin-top: 5em;

  .features__title {
    text-align: center;

    .features__title_header {
      @include sectionHeader;
    }

    .features__title_text {
      @include sectionCopy;
    }
  }
}

.features__search {
  @include featuresBase(rgba(104, 201, 186, 0.1));
  @include featuresContent(search);
}

.features__access {
  @include featuresBase(rgba(156, 105, 226, 0.1));
  @include featuresContent(access);
}

.features__print {
  @include featuresBase(rgba(240, 99, 184, 0.1));
  @include featuresContent(print);
}

.features__security {
  @include featuresBase(rgba(45, 156, 219, 0.1));
  @include featuresContent(security);
  margin-bottom: 3em;
}

//
// Testimonials
//

.testimonials {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 1em 0.5em;
  padding-bottom: 1.5em;
  border-radius: 20px;
  background-color: $purple;

  .testimonials__header {
    display: block;
    margin: 1em 0.25em;
    @include sectionHeader;
    color: white;
  }

  .testimonial__card {
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 0px rgba(128, 52, 228, 0.3);

    .testimonial__card_img {
      display: none;
    }

    .testimonial__card_user {
      padding: 0.5em 1.5em;
      display: flex;
      flex-direction: column;

      .testimonial__card_user_name {
        font-family: $Lato;
        font-weight: bold;
        color: $dark-blue;
      }

      .testimonial__card_user_role {
        font-family: $Lato;
        color: $purple;
      }
    }

    .testimonial__card_text {
      padding: 0.5em 1.5em;
      font-family: $Lato;
      color: $dark-green;
      line-height: 180%;
    }
  }

  .testimonials__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    .testimonials__counter_pip {
      width: 5px;
      height: 5px;
      background-color: white;
      border-radius: 50%;
      margin-top: 1.5em;
    }

    .testimonials__counter_arrows {
      margin-top: 1.5em;
    }
  }
}

//
// Footer
//

.footer__title {
  border-top: 2px solid rgba(156, 105, 226, 0.2);
  padding-top: 2em;
  text-align: center;

  .footer__title_header {
    margin-top: 0;
    @include sectionHeader;
  }

  .footer__title_text {
    @include sectionCopy;
  }
}

.footer__buttons {
  @include mobileButtons;
}

.footer__branding {
  margin: 0 auto;
  margin-top: 3em;
  margin-left: 18.75px;
  display: flex;
  gap: 1em;

  .footer__branding_name {
    @include footerCopy;
    font-weight: bold;
  }
}

.footer__contact_info {
  width: 62%;
  margin-left: 18.75px;
  @include footerCopy;

  .footer__contact_info_text1 {
    margin-top: 0;
  }
}

.footer__about__help {
  display: flex;
  justify-content: space-around;
  @include footerCopy;

  .footer__about_header,
  .footer__help_header {
    font-weight: bold;
  }
}

.footer__social {
  .footer__social_header {
    @include footerCopy;
    font-weight: bold;
    text-align: center;
  }

  .footer__social_linksWrapper {
    margin-bottom: 3em;
    display: flex;
    justify-content: space-around;

    .footer__social_link {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(33, 35, 83, 0.3);
    }
  }
}
